.elements {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: minmax(280px, 1fr);
  row-gap: 20px;
}

@media screen and (min-width: 768px) {
  .elements {
    width: 80%;
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    column-gap: 17px;
  }
}

@media screen and (min-width: 1100px) {
  .elements {
    grid-template-columns: repeat(3, minmax(280px, 1fr));
  }
}

@media screen and (min-width: 1250px) {
  .elements {
    width: 70%;
  }
}
