.error {
  min-height: 30px;
  color: #ff0000;
  font-size: 12px;
  line-height: 1.2;
  display: block;
  visibility: hidden;
  width: 85%;
  margin: 0 auto;
}

.error:last-of-type {
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .error {
    width: 80%;
  }

  .error:last-of-type {
    padding-bottom: 18px;
  }
}
