.element__bin {
  background-image: url(../../../images/Bin.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5%;
  right: 5%;
}

.element__bin:hover {
  opacity: 0.6;
}
