.auth-page__input {
  background-color: transparent;
  width: 100%;
  line-height: 17px;
  font-size: 14px;
  font-weight: 400;
  font-family: inherit;
  border: 0;
  padding: 0;
  padding-bottom: 13px;
  border-bottom: 2px solid rgb(204, 204, 204);
  color: #ccc;
}

.auth-page__input:focus {
  outline: none;
}

.auth-page__input::placeholder {
  color: #ccc;
}

.auth-page__input:last-of-type {
  padding-top: 30px;
}
